<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>

  <title><%= chunky.page.title %></title>

  <meta property="og:type"          content="website" />
  <meta property="og:url"           content="<%= chunky.page.meta.url %>" />
  <meta property="og:title"         content="<%= chunky.page.meta.title %>" />
  <meta property="og:description"   content="<%= chunky.page.meta.description %>" />
  <meta property="og:image"         content="<%= chunky.page.meta.image %>" />

  <link rel="shortcut icon" href="/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/material.css">
  </head>
<body>

<div id="chunky">
  <%- chunky.pageHtml %>
</div>

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script src="https://unpkg.com/react-media/umd/react-media.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/4.0.0/react-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js"></script>

<% chunky.dependencies.forEach(function(dependency) {  %>
  <script src="<%- dependency.src %>"></script>
<% }) %>
<script src="/material.js"></script>
</body>
</html>
