html {
  font-size: 20px;
  height: 100%;
  background-color: #FFFFFF; }

body {
  height: 100%; }

@media (max-width: 840px) {
  html {
    font-size: 18px; } }

h1 {
  font-size: 2rem;
  text-align: center;
  color: #424242; }

h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #424242; }

p {
  font-size: 1rem;
  text-align: justify;
  color: #424242; }

.container {
  display: flex;
  flex: 1;
  overflow: auto;
  background: #FFFFFF;
  flex-direction: column;
  justify-content: center; }

.header {
  color: #424242;
  background: #0288D1; }
  .header i {
    color: #424242; }

.logo img {
  height: 55px; }

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end; }
  @media (max-width: 840px) {
    .menu {
      display: none !important; } }

.menuItem {
  color: #424242 !important; }

.items {
  width: 600px;
  align-self: center;
  justify-content: center;
  align-items: center; }

.item {
  flex: 1;
  align-self: center;
  margin-bottom: 20px; }

.card {
  flex: 1;
  min-height: 320px;
  margin: auto; }

.cardTitle {
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 200px; }

.cardText {
  color: #546E7A;
  font-size: 20px;
  line-height: 120%; }

.chip {
  margin-right: 5px;
  color: #ffffff; }
