@import "../../styles/main.scss";

.items {
    width: 600px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.item {
    flex: 1;
    align-self: center;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    min-height: 320px;
    margin: auto;
}

.cardTitle {
   align-items: center;
   justify-content: center;
   color: #ffffff;
   min-height: 200px;
}

.cardText {
    color: #546E7A;
    font-size: 20px;
    line-height: 120%;
}

.chip {
    margin-right: 5px;
    color: #ffffff;
}